<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438067296868-740id45oaq9lp2nfnln0qut72e170bes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438067296868-740id45oaq9lp2nfnln0qut72e170bes</string>
	<key>API_KEY</key>
	<string>AIzaSyDShObe6MwdaMMPHHIoLlFOyBVsDrX2Qe0</string>
	<key>GCM_SENDER_ID</key>
	<string>438067296868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starbuckClone</string>
	<key>PROJECT_ID</key>
	<string>starbuckclone</string>
	<key>STORAGE_BUCKET</key>
	<string>starbuckclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438067296868:ios:89540d684397736ebf7d71</string>
</dict>
</plist>